*{
    padding: 0px;
    margin: 0px;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.logo-1{
    margin-left: 4%;
}

.heading{
    background-color: #ffffff;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 400;
    border-bottom:5px solid #ffffff;
    letter-spacing: .3px;
    width: 100vw;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
    position: fixed;
    top: 0;
    left: 0;
}

.heading-container1{
    display: flex;
    flex-direction: row;
    width:40%;
    font-size: 14px;
    align-items: center;
    margin-left: 4%;
}


.link-1{
    color:#282c3f;
    font-size: 0.82rem;
    letter-spacing: 0.3px;
    text-decoration: none;
    transition: all 0s ease-in-out 0s; 
    padding: 37px 17px 29px;
    border-bottom:4px solid transparent;
    font-weight: 800;
    color: #282c3f;
}

#l7{
    padding-right: 14px;
}





sup{
    color: #ff3f6c; 
    font-size: 0.5rem;
}

.heading-container2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    height: 40px;
    margin-left: 3%;
    margin-right: 4%;
    width: 10%;
}

.link-2{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    margin: 0px 25px 0px 0px;
    letter-spacing: .3px;
    padding: 3.5px 0px;
    position: relative;
}
.phover-container1,.phover-container2{
            margin-bottom: 100px;
            width: 300px;
            height: 215px;
            margin: 0px auto;
            box-sizing: content-box;
            position: absolute;
            top:63.5px;
            background-color: white;
            text-align: left;
            box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
            z-index: 10;
            display: none;
        }

        .phover-container2{
            display: none;
        }

        .p-container2{
            display: flex;
            flex-direction: column;
            width: 85%;
            margin: auto;
            padding-top: 5%;
            padding-bottom: 5%;
            box-sizing: content-box;
            text-align: left;
        }

        .p-container1{
        border-bottom:1px solid #edebef;
        width: 85%;
        margin: auto;
        padding-top: 5%;
        padding-bottom: 5%;
        box-sizing: content-box;
        text-align: left;
        }

        .p-welcome,.p-name{
            color: #282c3f;
            font-size: 14px;
            font-weight: 800;
            padding-bottom: 2.5px;
            box-sizing: content-box;
            text-align: left;
        }

        .p-request,.p-number{
            color: #282c3f;
            font-size: 14px;
            margin-bottom: 10px;
            font-weight: 525;
            box-sizing: content-box;
            text-align: left;
        }

        .p-link1{
            color: #282c3f;
            font-size: 14px;
            text-decoration: none;
            font-weight: 475;
            padding: 2px 0px;
            box-sizing: content-box;
            text-align: left;
        }

        .p-link2{
            color: #282c3f;
            text-decoration: none;
            font-weight: 475;
            padding-top: 4px;
            padding-bottom: 3px;
            box-sizing: content-box;
            text-align: left;
        }

        .p-link1:hover{
            font-weight: 700;
            box-sizing: content-box;
            text-align: left;
        }

        .p-link2:hover{
            font-weight: 700;
            box-sizing: content-box;
            text-align: left;
        }

        .p-button{
            background-color: white;
            border: 1px solid #d2d6e7;;
            margin-bottom: 4px;
            cursor: pointer; 
            color: #ff3f6c;
            font-weight: 800;
            padding: 13px 8px;
            text-align: center;
            width: 120px;
            font-size: 14px;
            letter-spacing: 0.5px;
            box-sizing: content-box;
            text-align: center;
        }

        .p-button:hover{
            border: 1px solid #ff3f6c;
            box-sizing: content-box;
        }

        .p-button1{
            background-color: white;
            border: 1px solid #d2d6e7;;
            margin-bottom: 4px;
            cursor: pointer; 
            color: #ff3f6c;
            font-weight: 800;
            padding: 13px 8px;
            text-align: center;
            width: 120px;
            font-size: 14px;
            letter-spacing: 0.5px;
            box-sizing: content-box;
            text-align: center;
        }

        .p-button1:hover{
            border: 1px solid #ff3f6c;
            box-sizing: content-box;
        }

.action-img{
    height: 30px;
    font-size: 18px;
    color: #282c3f;
    opacity: 0.9;
}

.action{
    font-weight: 900;
    color: #282c3f;
    font-size: 0.72rem;
    padding-top: 3px;
}

.input-container{
    background-color: #f5f5f6;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    margin-left:4%;
    width: 35%;
}

.search-bar{
    height: 20px;
    min-width: 500px;
    max-width: 300px;
    background-color: #f5f5f6;
    border: 1px solid #f5f5f6;
    border-radius:8px 8px 8px 8px;
    padding: 8px 10px 10px;
    font-weight: 300;
    box-sizing: content-box;
}

.search{
    background-color: #f5f5f6;
    height: 20px;
    padding: 10px;
    border: 1px solid #f5f5f6;
    border-radius:8px 8px 8px 8px;
    padding: 8px 0 2px;
    margin-left: 10px;
    box-sizing: content-box;

}

.search-bar:focus{
   border: 1px solid #f5f5f6;
   outline: none;
}

main{
  margin-top: 100px;
}

.heading1-middle{
    position: relative;
}

.heading1-middle a{
    display: flex;
    flex-direction: row;
    padding: 0px 5%;
}

.img1{
   width: 44vw;
   height: 50vh;
}

.img2{
    width: 44vw;
   height: 50vh;
}

.heading1-top{
    padding: 0px 20%;
    position: relative;
}

.heading1-top img{
    width: 55vw;
    height: 12vh;
}

.heading1-bottom{
    display: flex;
    flex-direction: row;
    padding: 0px 5%;
    position: relative;
}

.heading1-bottom img{
    width: 29.34vw;
    height: 18vh;
}

.heading1-footer{
    padding: 0px 5%;
    position: relative;
}

.heading1-footer img{
    width: 88vw;
    height: 18vh;
}


.header1{

    width:88vw;
    height: 18vh;
    position: relative;
    margin-left: 100px;
    margin-top:10px;
}

.header1-container{
    position: relative;
    display: flex;
    gap: 20px;
}



.header1-bottom{
    position: relative;
}

.header1-bottom img{
    width: 99vw;
    height: 18vh;
    padding: 0px 5%;
    justify-content: center;
    margin-bottom: 20px;
}

.header1-container{
    position: relative;
    margin-bottom:10px ;
    margin-top: 10px;
}



.header1-container img{
    width: 44vw;
    height: 15vh;
    padding: 0px 0px 0px 5%;
}

.header1-left{
    padding-left:20px ;
}

.header1-right{
    padding-left: 10px;
}

.header1-item-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-right: 20px;
  margin: 0px auto;
  overflow: hidden;
  max-width: 85%;
}


.header1-item{
    height: 450px;
    width: 300px;
    width: 100%;
}

.scroll-1-first, .scroll-1-second {
  height: 9px;
  width: 9px;
  background-color: #fff9f9;
  border-radius: 50%;
  opacity: 0.6;
  cursor: pointer;
  transition-property:all;
}

.scroll-1-first:hover, .scroll-1-second:hover {
  background-color: #757070;
  opacity: 1;
}

.scroll-1-container{
    position: relative;
    display: flex;
    justify-content: center;
    gap:25px;
    margin-top: 20px;
}

.scroll-1-first.active,.scroll-1-second.active{
    background-color: #6b6767;
    opacity: 1;
}

.js-hidden{
    display:none;
}

.header2{
    width:88vw;
    height: 18vh;
    position: relative;
    margin-left: 100px;
}

.header2-item-container{
    display: grid;
    grid-template-columns: .5fr .5fr .5fr .5fr .5fr .5fr;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    max-width: 90%;
}

.header2-item img{
    width: 100%;
}

.header2-item-seperate{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4,0.7fr);
    margin:0px auto;
    max-width: 60%;
}

.header2-item-seperate img{
  width: 100%;
}

.bottom{
    max-width: 94%;
    margin:0px auto;
    margin-top: 20px;
    margin-left: 43px;
}

footer{
    background-color: #fafbfc;
}

.footer-container1{
    margin:0px auto ;
    max-width: 60%;
    display: grid;
    grid-template-columns: .5fr .5fr 1fr 1fr;
    gap: 30px;
    margin-top: 60px;
    width: 100%;
    padding-bottom: 40px;
}

.footer-1 p{
    font-size: 12px;
    color: #282c3f;
    font-weight: 700;
    margin-top: 50px;
}

.footer-container2{
    border-top: 1px solid #eaeaec;
    margin:0px auto ;
    max-width: 60%;
    border-bottom: 1px solid #eaeaec;
    width: 100%;
}

.footer-container3{
    margin:auto ;
    max-width: 60%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    height: 35px;
    background-color: #fafbfc;
    color: #696b79;
    width: 100%;
}

.footer-container2 h3,h1{
        line-height: 18px;
        font-size: 14px;
        color: #535766;
        font-weight: 700;
        margin: 10px;
}

.footer-container2 p{
    line-height: 18px;
    color: #94969f;
    font-size: 14px;
    margin: 8px;
}

.footer-container2 li{
    line-height: 18px;
    color: #94969f;
    font-size: 14px;
    margin: 8px;
}

.footer-container2 ol{
    padding-left: 50px;
}

.footer-container3 a{
    color: #526cd0;
    text-decoration: none;
    font-weight: 700;
}

.footer1-4{
    line-height: 25px;
}

.footer1-4{
    display: flex;
    flex-direction: row;
    gap: 0px;
    padding-left: 5px;
    margin-top:10px;
}

.footer1-3 p{
    padding-bottom: 20px;
    margin-top:50px;
}

.footer1-4 img{
    width: 120px;
    height: 40px;
}

.footer1-4 a{
    width:140px;
    height: 40px;
}


.footer1-5{
    display: flex;
    gap:10px;
}

.footer1-5 img{
    width:25px;
    height: 25px;
}

.footer-right{
margin-top: 0px;
color:#696b79;
display: flex;
flex-direction: column;
gap: 30px;
margin-top:50px;
}

.footer-right strong{
color:#282c3f;
font-weight: 700;
font-size: 14px;
}

.footer-right-1{
display: flex;
align-items: center;
gap: 10px;
}

.footer-right-1 img{
    height: 40px;
    width: 50px;
}

.footer-right-2 img{
    height: 50px;
    width: 50px;
}

.footer-right-2{
display: flex;
align-items: center;
gap: 10px;
}

.footer-8 p{
    margin-bottom: 14px;
}

.footer-8 a{
    text-decoration: none;
    padding-bottom: 7px;
}

.footer-8 a{
    display: block;
}

.footer-8 a{
    font-size: 15px;
    color: #696b79;
}

#footer1-8-1{
    margin-top: 15px;
    margin-bottom: 12px;
}

#profiles{
    padding-bottom:21px;
    border-bottom: 4px solid transparent;
    padding-right: 5px;
    padding-left: 3px;
}

.noOfItems{
    background-color: #f16565;
    padding-top: 1px;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    position: absolute;
    top: -5px;
    left: 12px;
    color: white;
    text-align: center;
    font-size: 11px;
    font-weight: 900;
    display: none;
}